@page "/"
@page "/Index"

<h3>Herzlich Willkommen zum Blazor-WebAssembly-Tutorial.</h3>
Dies ist der Ausgangszustand, den Sie nun in fünf Schritten ("Sprints") zur fertigen Anwendung bringen sollen.

@code {
 // Code ist in Code Behind-Datei! :-)
}