@inject NavigationManager NavigationManager
<CascadingAuthenticationState>
 <Router AppAssembly="typeof(Program).Assembly">
  <Found Context="routeData">
   @*alt: <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />*@

   <AuthorizeRouteView RouteData="@routeData"
                       DefaultLayout="@typeof(MainLayout)">
    <NotAuthorized>
     Sie sind nicht angemeldet und können den Inhalt dieser Seite daher nicht sehen. Bitte melden Sie sich an in der <a href="/Login">Anmeldenmaske</a>
     @{ 
      //alternativ:
      //NavigationManager.NavigateTo("/Login");
     }
    </NotAuthorized>
   </AuthorizeRouteView>
  </Found>
  <NotFound>
   <h1>Page not found</h1>
  </NotFound>
 </Router>
</CascadingAuthenticationState>
