<CascadingAuthenticationState>
 <Router AppAssembly="typeof(Program).Assembly">
  <Found Context="routeData">
   <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
  </Found>
  <NotFound>
   <h1>Page not found</h1>
  </NotFound>
 </Router>
</CascadingAuthenticationState>
