@page "/about"

@inject MiracleListAPI.MiracleListProxy proxy
<h3>MiracleList-Tutorial</h3>
Autor: Dr. Holger Schwichtenberg, <a href="http://www.IT-Visions.de/">www.IT-Visions.de</a>
<br />
<h4>Client</h4>
@*Beispiel: Direkter Aufruf einer Methode*@
Application Version @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString()
<br />
@*Beispiel: Verweis auf ein Property*@
Blazor WebAssembly: @Version
<br />
@*Beispiel: Nutzung einer Information, die asynchron eingeht*@
<h4>Server</h4>
@ServerAppVersion
<br />
@ServerFramework
@code {
 public string Version { get; set; }
 public string ServerAppVersion { get; set; }
 public string ServerFramework { get; set; }
 /// <summary>
 /// Lebenszyklusereignis: Komponente wird initialisiert
 /// </summary>
 protected override async Task OnInitializedAsync()
 {
  Version = " " + System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription;
  var serverData = await proxy.AboutAsync();
  ServerAppVersion = serverData[6];
  ServerFramework = serverData[8];
 }
}
